.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: #4b71e3;
  color: white;
  margin-bottom: 30px;
  padding: 8px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 80px;
  height: 40px;
  outline: none;
  background: #cecece;
  border: none;
  color: #292929;
  border-radius: 3px;
  margin-right: 8px;
}