.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: #4b71e3;
  color: white;
  margin-bottom: 30px;
  padding: 8px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}